*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/*
/.kotlin/errors/errors-1728742325103.log
/.kotlin/errors/errors-1728742058670.log
/.kotlin/errors/errors-1728731876763.log
